<app-header></app-header>
<app-spinner></app-spinner>
<div class="container main-container">
  <div class="row">
    <div class="col-12 col-sm-3">
      <div class="card bg-light mb-3">
        <div class="card-header bg-secondary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
        <ul class="list-group category_block">
          <li class="list-group-item"><a href="category.html">Cras justo odio</a></li>
          <li class="list-group-item"><a href="category.html">Dapibus ac facilisis in</a></li>
          <li class="list-group-item"><a href="category.html">Morbi leo risus</a></li>
          <li class="list-group-item"><a href="category.html">Porta ac consectetur ac</a></li>
          <li class="list-group-item"><a href="category.html">Vestibulum at eros</a></li>
        </ul>
      </div>
      <div class="card bg-light mb-3">
        <div class="card-header bg-success text-white text-uppercase">Last product</div>
        <div class="card-body">
          <img class="img-fluid" src="https://dummyimage.com/600x400/55595c/fff" />
          <h5 class="card-title">Product title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <p class="bloc_left_price">99.00 $</p>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>