<ng-template #rt let-r="result" let-t="term">
  <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']" class="mr-1" style="width: 16px" />
  <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
</ng-template>
<div class="search">
  <div class="search-container">
    <input id="typeahead-template" type="text" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt"
      [inputFormatter]="formatter" />
    <button type="submit"><i class="fa fa-search"></i></button>
  </div>
</div>